<?xml version="1.0" ?>
<settings version="1">
  <section id="pvr.nextpvr">
    <category help="" id="connection" label="30040">
      <group id="0">
        <setting help="" id="host" label="30000" type="urlencodedstring">
          <level>0</level>
          <default>127.0.0.1</default>
          <control format="urlencoded" type="edit">
            <heading>30000</heading>
          </control>
        </setting>
        <setting help="" id="port" label="30001" type="integer">
          <level>0</level>
          <default>8866</default>
          <control format="integer" type="edit">
            <heading>30001</heading>
          </control>
        </setting>
        <setting help="" id="pin" label="30002" type="string">
          <level>0</level>
          <default>0000</default>
          <control format="string" type="edit">
            <heading>30002</heading>
          </control>
        </setting>
        <setting help="" id="hostprotocol" label="" type="string" option="hidden">
          <level>4</level>
          <default>http</default>
          <control format="string" type="edit">
            <heading></heading>
            <hidden>true</hidden>
          </control>
        </setting>
      </group>
      <group id="8">
        <setting help="" id="wolenable" label="30163" type="boolean">
          <level>2</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="" id="woltimeout" label="30164" type="integer">
          <level>1</level>
          <default>20</default>
          <constraints>
            <minimum>5</minimum>
            <step>5</step>
            <maximum>45</maximum>
          </constraints>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="wolenable">true</condition>
            </dependency>
          </dependencies>
          <control format="integer" type="slider">
            <popup>false</popup>
          </control>
        </setting>
        <setting help="" id="host_mac" label="30165" type="string">
          <level>1</level>
          <default>00:00:00:00:00:00</default>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="wolenable">true</condition>
            </dependency>
          </dependencies>
          <control format="string" type="edit">
            <heading>30165</heading>
          </control>
        </setting>
        <setting help="" id="uselivestreams" label="30176" type="boolean">
          <level>3</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
    <category help="" id="advanced" label="30174">
      <group id="501">
        <setting help="" id="livestreamingmethod5" label="30172" type="integer">
          <level>0</level>
          <default>2</default>
          <constraints>
            <options>
              <option label="Real Time">2</option>
              <option label="Timeshift">4</option>
              <option label="Transcoded">3</option>
            </options>
          </constraints>
          <control format="string" type="spinner"/>
        </setting>
        <setting help="" id="resolution" label="30173" type="string" parent="livestreamingmethod5">
          <level>1</level>
          <default>720</default>
          <constraints>
            <options>
              <option>1080</option>
              <option>720</option>
              <option>576</option>
              <option>504</option>
              <option>480</option>
              <option>360</option>
              <option>240</option>
              <option>144</option>
            </options>
          </constraints>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="livestreamingmethod5">3</condition>
            </dependency>
          </dependencies>
          <control format="string" type="spinner"/>
        </setting>
        <setting help="" id="prebuffer5" label="30162" type="integer" parent="livestreamingmethod5">
          <level>2</level>
          <default>1</default>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>5</maximum>
          </constraints>
          <control format="integer" type="slider">
            <popup>false</popup>
          </control>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="livestreamingmethod5">4</condition>
            </dependency>
          </dependencies>
        </setting>
        <setting help="30603" id="ffmpegdirect" label="30003" type="boolean"  parent="livestreamingmethod5">
          <level>1</level>
          <default>false</default>
          <control type="toggle"/>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="livestreamingmethod5">3</condition>
            </dependency>
          </dependencies>
        </setting>
      </group>
      <group id="10">
        <setting help="" id="chunklivetv" label="30167" type="integer">
          <level>3</level>
          <default>64</default>
          <constraints>
            <minimum>16</minimum>
            <step>16</step>
            <maximum>96</maximum>
          </constraints>
          <control format="integer" type="slider">
            <popup>false</popup>
          </control>
        </setting>
        <setting help="" id="chunkrecording" label="30168" type="integer">
          <level>3</level>
          <default>32</default>
          <constraints>
            <minimum>16</minimum>
            <step>16</step>
            <maximum>96</maximum>
          </constraints>
          <control format="integer" type="slider">
            <popup>false</popup>
          </control>
        </setting>
      </group>
      <group id="11">
        <setting help="30688" id="showradio" label="30188" type="boolean">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
    <category help="" id="advanced5" label="30175">
      <group id="12">
        <setting help="" id="remoteaccess" label="30179" type="boolean">
          <level>2</level>
          <default>false</default>
          <control type="toggle"/>
          <dependencies>
            <dependency type="visible">
              <condition operator="!is" setting="pin">0000</condition>
            </dependency>
          </dependencies>
        </setting>
        <setting help="30504" id="guideartwork" label="30004" type="boolean">
          <level>1</level>
          <default>false</default>
          <control type="toggle"/>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="remoteaccess">false</condition>
            </dependency>
          </dependencies>
        </setting>
        <setting help="30504" id="guideartworkportrait" label="30181" type="boolean" parent="guideartwork">
          <level>1</level>
          <default>false</default>
          <control type="toggle"/>
          <dependencies>
            <dependency type="visible">
              <condition operator="is" setting="guideartwork">true</condition>
            </dependency>
          </dependencies>
        </setting>
        <setting help="" id="castcrew" label="30197" type="boolean">
          <level>1</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="30680" id="flattenrecording" label="30180" type="boolean">
          <level>2</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="30701" id="showroot" label="30201" type="boolean">
          <level>2</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="30693" id="separateseasons" label="30193" type="boolean">
          <level>2</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="30678" id="recordingsize" label="30178" type="boolean">
          <level>3</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="diskspace" type="string" label="30198" help="30698">
          <level>1</level>
          <default>Default</default>
          <constraints>
            <options>
              <option>No</option>
              <option>Default</option>
              <option>Span</option>
            </options>
            <allowempty>false</allowempty>
          </constraints>
          <control type="list" format="string">
            <heading>30198</heading>
          </control>
        </setting>
        <setting help="30694" id="genrestring" label="30194" type="boolean">
          <level>1</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="30699" id="ignorepadding" label="30199" type="boolean">
          <level>2</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting help="30700" id="backendresume" label="30200" type="boolean">
          <level>3</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
    <category help="" id="deadsettings" label="">
      <!-- Avoid Kodi creating debug log messages for obsolete user settings -->>
      <group id="13">
        <setting help="" id="kodilook" label="" type="boolean">
          <level>4</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="" id="usetimeshift" label="" type="boolean" option="hidden">
          <level>4</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="" id="legacy" label="30177" type="boolean" option="hidden">
          <level>4</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting help="" id="prebuffer" label="30162" type="integer" option="hidden">
          <level>4</level>
          <default>8</default>
        </setting>
        <setting help="Timeshift" id="livestreamingmethod" label="30172" type="integer" option="hidden">
          <level>4</level>
          <default>2</default>
        </setting>
      </group>
    </category>
  </section>
</settings>
